@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1170px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1170px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1370px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 750px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
}

h1,
.h1 {
  font-size: calc( 42px + (52 - 42) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: calc( 60px + (60 - 60) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  h1,
.h1 {
    font-size: 52px;
  }
}
@media (max-width: 320px) {
  h1,
.h1 {
    font-size: 42px;
  }
}
@media (min-width: 1170px) {
  h1,
.h1 {
    margin-bottom: 60px;
  }
}
@media (max-width: 320px) {
  h1,
.h1 {
    margin-bottom: 60px;
  }
}

h2,
.h2 {
  font-size: calc( 24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: calc( 15px + (30 - 15) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  h2,
.h2 {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  h2,
.h2 {
    font-size: 24px;
  }
}
@media (min-width: 1170px) {
  h2,
.h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h2,
.h2 {
    margin-bottom: 15px;
  }
}

h3,
.h3 {
  font-size: calc( 20px + (32 - 20) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: calc( 15px + (30 - 15) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  h3,
.h3 {
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  h3,
.h3 {
    font-size: 20px;
  }
}
@media (min-width: 1170px) {
  h3,
.h3 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h3,
.h3 {
    margin-bottom: 15px;
  }
}

h4,
.h4 {
  font-size: calc( 18px + (28 - 18) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: calc( 15px + (30 - 15) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  h4,
.h4 {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  h4,
.h4 {
    font-size: 18px;
  }
}
@media (min-width: 1170px) {
  h4,
.h4 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h4,
.h4 {
    margin-bottom: 15px;
  }
}

h5,
.h5 {
  font-size: calc( 16px + (24 - 16) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: calc( 15px + (30 - 15) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  h5,
.h5 {
    font-size: 24px;
  }
}
@media (max-width: 320px) {
  h5,
.h5 {
    font-size: 16px;
  }
}
@media (min-width: 1170px) {
  h5,
.h5 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h5,
.h5 {
    margin-bottom: 15px;
  }
}

h6,
.h6 {
  font-size: calc( 14px + (20 - 14) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: calc( 15px + (30 - 15) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  h6,
.h6 {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  h6,
.h6 {
    font-size: 14px;
  }
}
@media (min-width: 1170px) {
  h6,
.h6 {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  h6,
.h6 {
    margin-bottom: 15px;
  }
}

/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 320px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "Georgia";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia-regular.ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1.25;
  font-size: 14px;
  font-family: "Georgia";
  position: relative;
  width: 100%;
  overflow-x: hidden;
  color: #ffffff;
}

.wrapper {
  background-color: #000000;
  position: relative;
}
.wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
          user-select: none;
  z-index: 1;
}
.wrapper > * {
  position: relative;
  z-index: 2;
}

.flexbox {
  display: flex;
}

.ai-c {
  align-items: center;
}

.ai-s {
  align-items: flex-start;
}

.ai-e {
  align-items: flex-end;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.f-w {
  flex-wrap: wrap;
}

.fd-c {
  flex-direction: column;
}

.none {
  display: none !important;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.bg-cov,
.bg-con {
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-cov {
  background-size: cover;
}

.bg-con {
  background-size: contain;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
}
.object-fit > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  object-fit: cover;
}

a {
  color: #ffffff;
  transition: 0.4s;
}
a:hover {
  color: #ffba27;
}

.logo {
  display: block;
  max-width: 300px;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%;
  height: 75vh;
  min-height: 350px;
  background-image: url("../img/fon.jpg");
  position: relative;
}
@media (max-width: 767px) {
  .banner .logo {
    max-width: 180px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: initial;
  }
}
.banner .heder_info {
  width: calc(100% - 180px);
}
@media (max-width: 767px) {
  .banner .heder_info {
    width: 100%;
  }
}
.banner .text {
  font-size: calc( 10px + (20 - 10) * ((100vw - 320px) / (1140 - 320)) );
  font-family: "Open sans";
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1170px) {
  .banner .text {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .banner .text {
    font-size: 10px;
  }
}

.menu_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  margin-top: auto;
  background-color: #111111;
  padding: 20px 0;
}
.menu_wrap .btn_open {
  display: none;
  position: absolute;
  right: 30px;
  top: 50%;
  height: 25px;
  width: 40px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .menu_wrap .btn_open {
    display: block;
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu_wrap .btn_open {
    display: block;
  }
}
.menu_wrap .btn_open span, .menu_wrap .btn_open::after, .menu_wrap .btn_open::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ffba27;
  left: 0;
}
.menu_wrap .btn_open span {
  top: 50%;
  transform: translateY(-50%);
}
.menu_wrap .btn_open::after {
  top: 0;
}
.menu_wrap .btn_open::before {
  bottom: 0;
}
.menu_wrap .btn_close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
  transform: rotate(45deg);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .menu_wrap .btn_close {
    display: block;
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu_wrap .btn_close {
    display: block;
  }
}
.menu_wrap .btn_close::after, .menu_wrap .btn_close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffba27;
  transform: translate(-50%, -50%);
}
.menu_wrap .btn_close::after {
  width: 100%;
  height: 2px;
}
.menu_wrap .btn_close::before {
  width: 2px;
  height: 100%;
}
.menu_wrap .menu_list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .menu_wrap .menu_list {
    position: absolute;
    flex-direction: column;
    width: max-content;
    right: 0;
    top: 0;
    padding: 50px;
    background-color: #111111;
    transform: translateX(110%);
    z-index: 10;
    transition: 0.5s;
  }
  .menu_wrap .menu_list.active {
    transform: translateX(0);
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu_wrap .menu_list {
    position: absolute;
    flex-direction: column;
    width: max-content;
    right: 0;
    top: 0;
    padding: 50px;
    background-color: #111111;
    transform: translateX(110%);
    z-index: 10;
    transition: 0.5s;
  }
  .menu_wrap .menu_list.active {
    transform: translateX(0);
  }
}
.menu_wrap .menu_list .menu_item {
  margin: 0 10px;
}
@media (max-width: 1024px) {
  .menu_wrap .menu_list .menu_item {
    margin-bottom: 20px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .menu_wrap .menu_list .menu_item {
    margin-bottom: 20px;
  }
}
.menu_wrap .menu_list .menu_item .menu_link.active {
  color: #ffba27;
}

.deco_element,
.masters_inner {
  position: relative;
}
.deco_element::after, .deco_element::before,
.masters_inner::after,
.masters_inner::before {
  content: "";
  pointer-events: none;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 2;
}
@media (max-width: 1199px) {
  .deco_element::after, .deco_element::before,
.masters_inner::after,
.masters_inner::before {
    content: none;
  }
}

.masters_inner::after {
  top: -40px;
  left: -30px;
  background-image: url("../img/svg/ramka.svg");
  transform: rotate(0deg);
}
.masters_inner::before {
  top: -40px;
  right: -30px;
  background-image: url("../img/svg/ramka.svg");
  transform: rotate(90deg);
}

.deco_element::after {
  bottom: 10px;
  left: -30px;
  background-image: url("../img/svg/ramka.svg");
  transform: rotate(270deg);
}
.deco_element::before {
  bottom: 10px;
  right: -30px;
  background-image: url("../img/svg/ramka.svg");
  transform: rotate(180deg);
}

.masters_inner .master_item {
  cursor: zoom-in;
  width: calc(100% / 3 - 20px);
  position: relative;
  margin: 0 auto 50px;
  border: 1px solid #ffba27;
  transition: box-shadow 0.5s;
  max-width: 350px;
}
.masters_inner .master_item.top-master {
  position: relative;
}
.masters_inner .master_item.top-master::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 75px;
  background-image: url("../img/top_master.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(15%, -50%);
}
@media (max-width: 1199px) {
  .masters_inner .master_item {
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 1199px) {
  .masters_inner .master_item {
    width: calc(100% / 1 - 0px);
  }
}
.masters_inner .master_item:hover {
  box-shadow: 0 0 24px 3px rgba(255, 186, 39, 0.4);
}
.masters_inner .master_item .img_warp {
  padding-top: 117%;
}
.masters_inner .master_item .img_warp img {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
.masters_inner .master_item .number_block {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #222222;
  cursor: pointer;
}
.masters_inner .master_item .info_block {
  padding: 20px 70px 35px 35px;
  background-color: #000000;
}
.masters_inner .master_item .info_block .main_info {
  font-size: 28px;
  margin-bottom: 10px;
}
.masters_inner .master_item .info_block .info_title,
.masters_inner .master_item .info_block .info_text {
  font-family: "Open Sans";
  font-size: 18px;
  margin-bottom: 5px;
}
.masters_inner .master_item .info_block .info_text {
  font-weight: 600;
}

.hr-logo {
  margin-bottom: 30px;
}

.section {
  padding: 40px 0;
  position: relative;
}
@media (max-width: 767px) {
  .section {
    padding: 30px 0;
  }
}
.section .anchor {
  position: absolute;
  top: -50px;
}

.programs_section .programs_inner {
  margin: 0 -10px;
}
@media (max-width: 767px) {
  .programs_section .programs_inner {
    margin: 0;
  }
}
.programs_section .programs_inner .item {
  width: calc(100% / 4 - 20px);
  margin: 0 10px 30px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .programs_section .programs_inner .item {
    width: calc(100% / 3 - 20px);
  }
}
@media (max-width: 1024px) {
  .programs_section .programs_inner .item {
    width: calc(100% / 2 - 20px);
  }
}
@media (hover: none) and (pointer: coarse) {
  .programs_section .programs_inner .item {
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 767px) {
  .programs_section .programs_inner .item {
    width: 100%;
    margin: 0 0 30px;
  }
}
.programs_section .programs_inner .item .img_item {
  width: 100%;
  border: 1px solid #ffba27;
}
.programs_section .programs_inner .item .img_item .img_wrap {
  padding-top: calc(259 / 264 * 100%);
}
.programs_section .programs_inner .item .img_item .img_wrap img {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
.programs_section .programs_inner .item .title {
  font-size: calc( 20px + (28 - 20) * ((100vw - 320px) / (1140 - 320)) );
  margin: 10px 0 5px;
}
@media (min-width: 1170px) {
  .programs_section .programs_inner .item .title {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  .programs_section .programs_inner .item .title {
    font-size: 20px;
  }
}
.programs_section .programs_inner .item .text {
  font-size: 14px;
  margin-bottom: 10px;
  flex: 1 1 auto;
}
.programs_section .programs_inner .item .row_text {
  display: flex;
  border: 1px solid #ffba27;
}
.programs_section .programs_inner .item .row_text .column {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  width: 50%;
  text-align: center;
  padding: 10px;
}
.programs_section .programs_inner .item .row_text .column + .column {
  border-left: 1px solid #ffba27;
}

.benefits_section .row {
  margin: 0 -15px;
}
@media (max-width: 1024px) {
  .benefits_section .row {
    margin: 0;
  }
}
@media (hover: none) and (pointer: coarse) {
  .benefits_section .row {
    margin: 0;
  }
}
.benefits_section .row .item {
  width: calc(100% / 3 - 30px);
  margin: 0 15px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 1024px) {
  .benefits_section .row .item {
    width: 100%;
    margin: 0 0 30px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .benefits_section .row .item {
    width: 100%;
    margin: 0 0 30px;
  }
}
.benefits_section .row .item .icon {
  width: 100%;
  height: 70px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.benefits_section .row .item .icon-1 {
  background-image: url("../img/benefits/1.webp");
}
.benefits_section .row .item .icon-2 {
  background-image: url("../img/benefits/2.webp");
}
.benefits_section .row .item .icon-3 {
  background-image: url("../img/benefits/3.webp");
}
.benefits_section .row .item .title {
  font-size: calc( 20px + (32 - 20) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: 15px;
}
@media (min-width: 1170px) {
  .benefits_section .row .item .title {
    font-size: 32px;
  }
}
@media (max-width: 320px) {
  .benefits_section .row .item .title {
    font-size: 20px;
  }
}
.benefits_section .row .item .text {
  font-size: 16px;
}

@media (max-width: 1199px) {
  .about_section .row {
    flex-direction: column;
  }
}
.about_section .row .img_item {
  cursor: pointer;
}
.about_section .row .column_img {
  display: flex;
  width: 58%;
}
@media (max-width: 1199px) {
  .about_section .row .column_img {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .about_section .row .column_img {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (hover: none) and (pointer: coarse) {
  .about_section .row .column_img {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .about_section .row .column_img {
    flex-direction: column;
  }
}
.about_section .row .column_img .big {
  width: calc(74% - 25px);
  margin-right: 25px;
}
@media (max-width: 767px) {
  .about_section .row .column_img .big {
    margin: 0 0 15px;
    width: 100%;
  }
}
.about_section .row .column_img .big .img_item {
  width: 100%;
}
.about_section .row .column_img .big .img_item .img_wrap {
  padding-top: calc(551 / 448 * 100%);
}
.about_section .row .column_img .small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(26%);
}
@media (max-width: 767px) {
  .about_section .row .column_img .small {
    flex-direction: row;
    width: 100%;
  }
}
.about_section .row .column_img .small .img_item {
  width: 100%;
}
@media (max-width: 767px) {
  .about_section .row .column_img .small .img_item {
    width: 23%;
  }
}
.about_section .row .column_img .small .img_item .img_wrap {
  padding-top: calc(115 / 164 * 100%);
}
.about_section .row .column_text {
  width: calc(42% - 30px);
  margin-left: 30px;
}
@media (max-width: 1199px) {
  .about_section .row .column_text {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .about_section .row .column_text {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
@media (hover: none) and (pointer: coarse) {
  .about_section .row .column_text {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}
.about_section .row .column_text .title {
  font-size: calc( 24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: 20px;
}
@media (min-width: 1170px) {
  .about_section .row .column_text .title {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  .about_section .row .column_text .title {
    font-size: 24px;
  }
}
.about_section .row .column_text .text {
  font-size: calc( 14px + (16 - 14) * ((100vw - 320px) / (1140 - 320)) );
  line-height: 1.3;
}
@media (min-width: 1170px) {
  .about_section .row .column_text .text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .about_section .row .column_text .text {
    font-size: 14px;
  }
}

.contact_section .row {
  margin: -15px;
}
@media (max-width: 767px) {
  .contact_section .row {
    margin: 0;
  }
}
.contact_section .row .item {
  width: calc(100% / 3 - 30px);
  margin: 0 15px 20px;
}
@media (max-width: 767px) {
  .contact_section .row .item {
    width: 100%;
    margin: 0 0 20px;
  }
}
.contact_section .row .item .text {
  font-size: calc( 18px + (20 - 18) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: 10px;
}
@media (min-width: 1170px) {
  .contact_section .row .item .text {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .contact_section .row .item .text {
    font-size: 18px;
  }
}
.contact_section .row iframe {
  width: 100%;
}

.footer {
  border-top: 1px solid #ffba27;
  padding: 50px 0;
}
.footer .container {
  max-width: 700px;
}
@media (max-width: 767px) {
  .footer .footer_row {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .footer .f_item {
    margin-bottom: 30px;
  }
}
.footer .img_wrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 1px solid #ffba27;
  padding: 12px;
}
.footer .f_title {
  font-weight: 600;
  font-size: calc( 18px + (20 - 18) * ((100vw - 320px) / (1140 - 320)) );
  margin-bottom: 10px;
}
@media (min-width: 1170px) {
  .footer .f_title {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .footer .f_title {
    font-size: 18px;
  }
}
.footer .f_text {
  font-weight: 600;
  font-size: calc( 14px + (16 - 14) * ((100vw - 320px) / (1140 - 320)) );
}
@media (min-width: 1170px) {
  .footer .f_text {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .footer .f_text {
    font-size: 14px;
  }
}
.footer .f_text + .f_text {
  margin-top: 10px;
}

.hr {
  background-image: url("../img/hr.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 52px;
  max-width: 300px;
  margin: 15px auto 15px;
}