a {
    color: #ffffff;
    transition: 0.4s;
    &:hover {
        color: #ffba27;
    }
}

.logo {
    display: block;
    max-width: 300px;
    width: 100%;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo {
        @include breakpoint(xs) {
            max-width: 180px;
        }
    }
    padding: 30px 0;
    width: 100%;
    height: 75vh;
    min-height: 350px;
    background-image: url("../img/fon.jpg");
    position: relative;
    // &::after {
    //     pointer-events: none;
    //     content: "";
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 20%;
    //     background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    // }
    @include breakpoint(xs) {
        height: initial;
    }

    .heder_info {
        width: calc(100% - 180px);
        @include breakpoint(xs) {
            width: 100%;
        }
    }
    .text {
        @include fz(20, 10);
        font-family: "Open sans";
        text-align: center;
        padding: 20px;
        border-radius: 30px;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
}

.menu_wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: auto;
    background-color: rgba(17, 17, 17, 1);
    padding: 20px 0;
    .btn_open {
        display: none;
        @include breakpoint(sm-down) {
            display: block;
        }
        position: absolute;
        right: 30px;
        top: 50%;
        height: 25px;
        width: 40px;
        transform: translateY(-50%);
        cursor: pointer;
        span,
        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ffba27;
            left: 0;
        }
        span {
            top: 50%;
            transform: translateY(-50%);
        }
        &::after {
            top: 0;
        }
        &::before {
            bottom: 0;
        }
    }
    .btn_close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 30px;
        transform: rotate(45deg);
        cursor: pointer;
        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #ffba27;
            transform: translate(-50%, -50%);
        }
        &::after {
            width: 100%;
            height: 2px;
        }
        &::before {
            width: 2px;
            height: 100%;
        }
    }
    .menu_list {
        @include breakpoint(sm-down) {
            position: absolute;
            flex-direction: column;
            width: max-content;
            right: 0;
            top: 0;
            padding: 50px;
            background-color: rgba(17, 17, 17, 1);
            transform: translateX(110%);
            z-index: 10;
            transition: 0.5s;
            &.active {
                transform: translateX(0);
            }
        }
        display: flex;
        width: 100%;
        justify-content: space-between;
        .menu_item {
            margin: 0 10px;
            @include breakpoint(sm-down) {
                margin-bottom: 20px;
            }
            .menu_link {
                &.active {
                    color: #ffba27;
                }
            }
        }
    }
}

.deco_element,
.masters_inner {
    position: relative;
    &::after,
    &::before {
        content: "";
        pointer-events: none;
        width: 150px;
        height: 150px;
        position: absolute;
        z-index: 2;
        @include breakpoint(md-down) {
            content: none;
        }
    }
}

.masters_inner {
    &::after {
        top: -40px;
        left: -30px;
        background-image: url("../img/svg/ramka.svg");
        transform: rotate(0deg);
    }
    &::before {
        top: -40px;
        right: -30px;
        background-image: url("../img/svg/ramka.svg");
        transform: rotate(90deg);
    }
}
.deco_element {
    &::after {
        bottom: 10px;
        left: -30px;
        background-image: url("../img/svg/ramka.svg");
        transform: rotate(270deg);
    }
    &::before {
        bottom: 10px;
        right: -30px;
        background-image: url("../img/svg/ramka.svg");
        transform: rotate(180deg);
    }
}
.masters_inner {
    .master_item {
        &.top-master {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 75px;
                height: 75px;
                background-image: url("../img/top_master.webp");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: translate(15%, -50%);
            }
        }
        cursor: zoom-in;
        width: calc(100% / 3 - 20px);
        @include breakpoint(md-down) {
            width: calc(100% / 2 - 20px);
        }
        @include breakpoint(md-down) {
            width: calc(100% / 1 - 0px);
        }
        position: relative;
        margin: 0 auto 50px;
        border: 1px solid #ffba27;
        transition: box-shadow 0.5s;
        max-width: 350px;
        &:hover {
            box-shadow: 0 0 24px 3px rgb(255 186 39 / 40%);
        }
        .img_warp {
            padding-top: 117%;
            img {
                width: calc(100% - 2px);
                height: calc(100% - 2px);
            }
        }
        .number_block {
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 5px 10px;
            font-size: 16px;
            background-color: #222222;
            cursor: pointer;
        }
        .info_block {
            padding: 20px 70px 35px 35px;
            background-color: #000000;
            .main_info {
                font-size: 28px;
                margin-bottom: 10px;
            }
            .info_title,
            .info_text {
                font-family: "Open Sans";
                font-size: 18px;
                margin-bottom: 5px;
            }
            .info_text {
                font-weight: 600;
            }
        }
    }
}
.hr-logo {
    margin-bottom: 30px;
}

.section {
    padding: 40px 0;
    position: relative;
    @include breakpoint(xs) {
        padding: 30px 0;
    }
    .anchor {
        position: absolute;
        top: -50px;
    }
}

.programs_section {
    .programs_inner {
        margin: 0 -10px;
        @include breakpoint(xs) {
            margin: 0;
        }
        .item {
            width: calc(100% / 4 - 20px);
            margin: 0 10px 30px;
            display: flex;
            flex-direction: column;
            @include breakpoint(md-down) {
                width: calc(100% / 3 - 20px);
            }
            @include breakpoint(sm-down) {
                width: calc(100% / 2 - 20px);
            }
            @include breakpoint(xs) {
                width: 100%;
                margin: 0 0 30px;
            }

            .img_item {
                width: 100%;
                border: 1px solid #ffba27;
                .img_wrap {
                    padding-top: calc(259 / 264 * 100%);
                    img {
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                    }
                }
            }
            .title {
                @include fz(28, 20);
                margin: 10px 0 5px;
            }
            .text {
                font-size: 14px;
                margin-bottom: 10px;
                flex: 1 1 auto;
            }
            .row_text {
                display: flex;
                border: 1px solid #ffba27;
                .column {
                    font-family: "Open Sans";
                    font-weight: 600;
                    font-size: 18px;
                    width: 50%;
                    text-align: center;
                    padding: 10px;
                    & + .column {
                        border-left: 1px solid #ffba27;
                    }
                }
            }
        }
    }
}

.benefits_section {
    .row {
        margin: 0 -15px;
        @include breakpoint(sm-down) {
            margin: 0;
        }
        .item {
            width: calc(100% / 3 - 30px);
            margin: 0 15px 30px;
            @include breakpoint(sm-down) {
                width: 100%;
                margin: 0 0 30px;
            }
            display: flex;
            flex-direction: column;
            text-align: center;
            .icon {
                width: 100%;
                height: 70px;
                margin-bottom: 15px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                &-1 {
                    background-image: url("../img/benefits/1.webp");
                }
                &-2 {
                    background-image: url("../img/benefits/2.webp");
                }
                &-3 {
                    background-image: url("../img/benefits/3.webp");
                }
            }
            .title {
                @include fz(32, 20);
                margin-bottom: 15px;
            }
            .text {
                font-size: 16px;
            }
        }
    }
}

.about_section {
    .row {
        @include breakpoint(md-down) {
            flex-direction: column;
        }
        .img_item {
            cursor: pointer;
        }
        .column_img {
            display: flex;
            width: 58%;
            @include breakpoint(md-down) {
                width: 100%;
                margin-bottom: 30px;
            }
            @include breakpoint(sm-down) {
                width: 100%;
                margin-bottom: 30px;
            }
            @include breakpoint(xs) {
                flex-direction: column;
            }
            .big {
                width: calc(74% - 25px);
                margin-right: 25px;
                @include breakpoint(xs) {
                    margin: 0 0 15px;
                    width: 100%;
                }
                .img_item {
                    width: 100%;
                    .img_wrap {
                        padding-top: calc(551 / 448 * 100%);
                    }
                }
            }
            .small {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: calc(26%);
                @include breakpoint(xs) {
                    flex-direction: row;
                    width: 100%;
                }
                .img_item {
                    width: 100%;
                    @include breakpoint(xs) {
                        width: 23%;
                    }
                    .img_wrap {
                        padding-top: calc(115 / 164 * 100%);
                    }
                }
            }
        }

        .column_text {
            width: calc(42% - 30px);
            margin-left: 30px;
            @include breakpoint(md-down) {
                width: 100%;
                margin: 0;
                text-align: center;
            }
            @include breakpoint(sm-down) {
                width: 100%;
                margin: 0;
                text-align: center;
            }

            .title {
                @include fz(36, 24);
                margin-bottom: 20px;
            }
            .text {
                @include fz(16, 14);
                line-height: 1.3;
            }
        }
    }
}

.contact_section {
    .row {
        margin: 0 - 15px;
        @include breakpoint(xs) {
            margin: 0;
        }
        .item {
            width: calc(100% / 3 - 30px);
            margin: 0 15px 20px;
            @include breakpoint(xs) {
                width: 100%;
                margin: 0 0 20px;
            }
            .text {
                @include fz(20, 18);
                margin-bottom: 10px;
            }
        }
        iframe {
            width: 100%;
        }
    }
}
.footer {
    border-top: 1px solid #ffba27;
    padding: 50px 0;
    .container {
        max-width: 700px;
    }
    .footer_row {
        @include breakpoint(xs) {
            flex-direction: column;
            align-items: center;
        }
    }
    .f_item {
        @include breakpoint(xs) {
            margin-bottom: 30px;
        }
    }
    .img_wrap {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 20px;
        border: 1px solid #ffba27;
        padding: 12px;
    }
    .f_title {
        font-weight: 600;
        @include fz(20, 18);
        margin-bottom: 10px;
    }
    .f_text {
        font-weight: 600;
        @include fz(16, 14);
        & + .f_text {
            margin-top: 10px;
        }
    }
}

.hr {
    background-image: url("../img/hr.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 52px;
    max-width: 300px;
    margin: 15px auto 15px;
}
